# Temporary files
/*~
\#*\#

# Linux trash folder which might appear on any partition or disk.
.Trash-*
# Temporary files which can be created if a process still
# has a handle open of a deleted file.
.fuse_hidden*
# Kde directory preferences.
.directory
# `.nfs' files are created when an open file is removed but
# is still being accessed.
.nfs*

# VSCode
.vscode

# custom file types
*.iika

# ignore documentation for now
/doc
